:root {
  /* --moradoClaro: #201930;
    --moradoOscuro: #2a1f49; */
  --moradoClaro: #2a1f49;
  --moradoOscuro: #201930;
  --verdeBrillante: #bfff00;
  --gris: #a6a6a6;

  --ancho-maximo: 75%;
}

body {
  background-color: var(--moradoOscuro);

}


/* carta pequeña */
.carta-pq {
  max-width: 12rem;
  background-color: var(--moradoClaro);
  border: 0px;

  font-family: monospace;
  font-weight: bolder;
  font-size: large;
}

.carta-pq-oscura {
  max-width: 12rem;
  background-color: var(--moradoOscuro);
  border: 0px;

  font-family: monospace;
  font-weight: bolder;
  font-size: xx-large;
}

.img-carta-pq {
  border-radius: 5px;
  aspect-ratio: 3/4;
}

.carta-pq-titulo {
  height: 50%;
}

.carta-pq-precio {
  align-items: end;
  height: 50%;
}


.btn-carta-pq {
  background-color: var(--verdeBrillante);
  color: var(--moradoClaro);
  border-radius: 5px;
  height: 2rem;

  font-size: large;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* carta pequeña */

/* carta horizontal */
.carta-hz {
  max-width: 35rem;
  background-color: var(--moradoClaro);
  border: 0px;


  font-family: monospace;
  font-weight: bolder;
  font-size: large;
}

.carta-hz-oscura {
  max-width: 35rem;
  background-color: var(--moradoOscuro);
  border: 0px;


  font-family: monospace;
  font-weight: bolder;
  font-size: large;
}



.img-carta-hz {
  border-radius: 5px;
  aspect-ratio: 3/4;
}

.carta-hz-titulo {
  align-items: start;
  height: 75%;
}


.carta-hz-precio {
  align-items: end;
  height: 25%;  
}

.btn-carta-hz {
  background-color: var(--verdeBrillante);
  color: var(--moradoClaro);
  border-radius: 5px;
  height: 2rem;

  font-size: large;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* carta horizontal */



/* carta mediana */
.carta-md {
  max-width: 27rem;
  background-color: var(--moradoClaro);
  border: 0px;

  font-family: monospace;
  font-weight: bolder;
  font-size: xx-large;

  border-radius: 5px;
}

.carta-md-oscura {
  max-width: 27rem;
  background-color: var(--moradoOscuro);
  border: 0px;

  font-family: monospace;
  font-weight: bolder;
  font-size: xx-large;

  border-radius: 5px;
}

.img-carta-md {
  border-radius: 5px;
  aspect-ratio: 16/9;
}

.carta-md-titulo {
  height: 50%;
}

.carta-md-precio {
  align-items: end;
  height: 50%;
}

.btn-carta-md {
  background-color: var(--verdeBrillante);
  color: var(--moradoClaro);
  border-radius: 5px;
  height: 2rem;

  font-size: large;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* carta mediana */


/* grupo cartas pequeñas */
.grupo-cartas-pq {
  justify-content: space-between;
  display: flex;
  margin: auto;
}
/* grupo cartas pequeñas */

/* grupo cartas medianas */
.grupo-cartas-md {
  justify-content: space-between;
  display: flex;
  margin: auto;
}
/* grupo cartas medianas */

/* grupo cartas horizontales */
.grupo-cartas-hz {
  justify-content: space-between;
  display: flex;
  margin: auto;
}
/* grupo cartas horizontales */




/* carrusel */
.cuerpo-carrusel {
  width: var(--ancho-maximo);
  margin: auto;
}

.cabezera-carrusel {
  background-color: var(--moradoClaro);
  border-radius: 5px;
  width: var(--ancho-maximo);
  padding: 10px;
  margin: auto;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;

  align-items: center;
}

.titulo-carrusel {

  color: white;
  font-family: monospace;
  font-weight: bolder;
  font-size: larger;
}

.btn-carrusel {
  background-color: var(--verdeBrillante);
  color: var(--moradoClaro);
  border: 0px;

  font-family: monospace;
  font-weight: bolder;
  font-size: large;
}

.btn-carrusel:hover {
  color: white;
}
/* carrusel */


.componente {
  padding: 50px;
  max-width: 100%;
  background-color: red;
}

.barra-superior {
  background-color: var(--moradoClaro);
}