<footer class="py-3 text-white bg-moradoClaro mt-5">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item">
            <a href="{% url 'tienda:index' %}" class="nav-link px-2 text-white">Descubrir</a>
        </li>
        <li class="nav-item">
            <a href="{% url 'tienda:busqueda' %}" class="nav-link px-2 text-white">Explorar</a>
        </li>
        <li class="nav-item">
            <a href="{% url 'tienda:noticias' %}" class="nav-link px-2 text-white">Noticias</a>
        </li>
        <li class="nav-item">
            <a href="https://github.com/Spinelk/AtlasGames" target="_blank" class="nav-link px-2 text-white">Acerca de</a>
        </li>
    </ul>
    <p class="text-center text-white">© 2023 Atlas Games</p>
</footer>