{% extends 'layouts/app.html' %} {% block contenido %}

<main class="mt-5">
    <article class="container-xl my-5 p-0">

        <section
            class="text-white bg-moradoClaro rounded-3 p-3 shadow-lg"
        >
            <h1 class="fs-4 fw-bold my-auto">Biblioteca</h1>
        </section>

        <div
            class="row row-cols-2 row-cols-sm-3 row-cols-xl-6 g-4 py-3"
            id="grupo-cartas"
        >
            {% for compra in compras %}
                {% include 'cards/videojuego_card_biblioteca.html' with compra=compra %}
            {% endfor %}
        </div>
    </article>

    <div
        name="Carro"
        class="offcanvas offcanvas-end bg-moradoOscuro text-white"
        tabindex="-1"
        id="offcanvasRight"
        aria-labelledby="offcanvasRightLabel"
    >
        <div class="offcanvas-header">
            <h5
                class="offcanvas-title fw-bold text-verdeBrillante fs-3"
                id="offcanvasRightLabel"
            >
                Carro de Compra
            </h5>
            <button
                type="button"
                class="btn-close"
                data-bs-dismiss="offcanvas"
                aria-label="Close"
            ></button>
        </div>

        <div id="carritoProductos" class="offcanvas-body"></div>

        <div class="d-grid gap-2 px-5 py-4">
            <button
                class="btn btn-primary bg-verdeBrillante text-black border-0 fs-5 fw-bold"
                type="submit"
                onclick="enviarCarrito()"
            >
                Comprar
            </button>
        </div>
    </div>

</main>

{% endblock %}
