{% extends 'layouts/app.html' %} {% block contenido %}

<main class="mt-5">
    <article class="container-xl my-5 p-0">

        <section
            class="text-white bg-moradoClaro rounded-3 p-3 shadow-lg"
        >
            <h1 class="fs-4 fw-bold my-auto">Biblioteca</h1>
        </section>

        <div
            class="row row-cols-2 row-cols-sm-3 row-cols-xl-6 g-4 py-3"
            id="grupo-cartas"
        >
            {% for compra in compras %}
                {% include 'cards/videojuego_card_biblioteca.html' with compra=compra %}
            {% endfor %}
        </div>
    </article>
</main>

{% endblock %}
