{% extends 'layouts/app.html' %} {% block contenido %}

<main class="mt-5">
    <article class="container-sm my-5">
        <div class="row p-3">
            <div class="col">
                <section
                    class="text-white bg-moradoClaro rounded-4 p-3 shadow-lg"
                >
                    <h1 class="fs-4 fw-bold">Nuevos Lanzamientos</h1>
                </section>
            </div>
        </div>
        <div
            class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 p-3"
            id="grupo-cartas-2"
        >
            {% for videojuego in videojuegos %} {% if forloop.counter <= 6 %}
            <div class="col">
                <a href="/juego/{{ videojuego.id }}/" class="text-decoration-none">
                    <section
                        class="card h-100 text-white bg-moradoClaro rounded-4 shadow-lg tamaño-carta border-0"
                    >
                        <img
                            src="{{ videojuego.foto_md.url }}"
                            class="card-img-top rounded-4 shadow-lg"
                            alt="..."
                        />
                        <div class="card-body">
                            <h3 class="card-title fs-5 fw-bold">
                                {{ videojuego.nombre }}
                            </h3>
                        </div>
                        <div class="card-footer fw-bold border-0">
                            <small class="text-white fs-6 text-verdeBrillante"
                                >${{ videojuego.precio }}</small
                            >
                        </div>
                    </section>
                </a>
            </div>
            {% endif %} {% endfor %}
        </div>
    </article>

    <article class="container-sm my-5">
        <div class="row p-3">
            <div class="col">
                <section
                    class="text-white bg-moradoClaro rounded-4 p-3 shadow-lg"
                >
                    <h1 class="fs-4 fw-bold">Juega Gratis</h1>
                </section>
            </div>
        </div>
        <div class="row p-3">
            <div id="carouselExample" class="carousel slide w-100">
                <div class="carousel-inner rounded-4 shadow-lg">
                    {% for videojuego in videojuegos %} {% if forloop.counter <= 3 %}
                    {% if forloop.counter <= 1 %}
                    <div class="carousel-item active">
                    {% else %}
                    <div class="carousel-item">
                    {% endif %}
                        <a href="/juego/{{ videojuego.id }}/">
                            <img
                                src="{{ videojuego.foto_gd.url }}"
                                class="d-block w-100 ratio ratio-19x9 rounded-4 tamaño-carta"
                                alt="Banner {{ videojuego.nombre }}"
                            />
                        </a>
                    </div>
                    {% endif %} {% endfor %}
                </div>
                <button
                    class="carousel-control-prev z-1"
                    type="button"
                    data-bs-target="#carouselExample"
                    data-bs-slide="prev"
                >
                    <span
                        class="carousel-control-prev-icon"
                        aria-hidden="true"
                    ></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button
                    class="carousel-control-next z-1"
                    type="button"
                    data-bs-target="#carouselExample"
                    data-bs-slide="next"
                >
                    <span
                        class="carousel-control-next-icon"
                        aria-hidden="true"
                    ></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </article>

    <article class="container-sm my-5">
        <div class="row p-3">
            <div class="col">
                <section
                    class="text-white bg-moradoClaro rounded-4 p-3 shadow-lg"
                >
                    <h1 class="fs-4 fw-bold">Mas Descargados</h1>
                </section>
            </div>
        </div>
        <div
            class="row row-cols-2 row-cols-sm-3 row-cols-xl-6 g-4 p-3"
            id="grupo-cartas"
        >
            {% for videojuego in videojuegos %} {% if forloop.counter <= 6 %}
            <div class="col">
                <a href="/juego/{{ videojuego.id }}/" class="text-decoration-none">
                    <section
                        class="card h-100 text-white bg-moradoClaro rounded-4 shadow-lg tamaño-carta border-0"
                    >
                        <img
                            src="{{ videojuego.foto_pq.url }}"
                            class="card-img-top rounded-4 shadow-lg"
                            alt="..."
                        />
                        <div class="card-body">
                            <h3 class="card-title fs-5 fw-bold">
                                {{ videojuego.nombre }}
                            </h3>
                        </div>
                        <div class="card-footer fw-bold border-0">
                            <small class="text-white fs-6 text-verdeBrillante"
                                >${{ videojuego.precio }}</small
                            >
                        </div>
                    </section>
                </a>
            </div>
            {% endif %} {% endfor %}
        </div>
    </article>

    <article class="container-sm my-5">
        <div class="row p-3">
            <div class="col">
                <section
                    class="text-white bg-moradoClaro rounded-4 p-3 shadow-lg"
                >
                    <h1 class="fs-4 fw-bold">Juegos Indie</h1>
                </section>
            </div>
        </div>

        <div class="row p-3">
            <div class="col">
                <div class="text-white bg-moradoClaro rounded-4 p-3 shadow-lg">
                    <div
                        class="row row-cols-1 row-cols-lg-2 g-4 p-3"
                        id="grupo-cartas-2"
                    >
                    {% for videojuego in videojuegos %} {% if forloop.counter <= 2 %}
                        <div class="col">
                            <a
                                href="/juego/{{ videojuego.id }}/"
                                class="text-decoration-none"
                            >
                                <section
                                    class="card mb-3 bg-moradoOscuro text-white rounded-4 shadow-lg border-0 g-0"
                                >
                                    <div class="row row-cols-2 rounded-4">
                                        <div class="col-md-6">
                                            <img
                                                src="{{ videojuego.foto_pq.url }}"
                                                class="img-fluid rounded-4 h-100"
                                                alt="..."
                                            />
                                        </div>

                                        <div
                                            class="col-md-6 d-flex flex-column g-0 ps-1 pe-4"
                                        >
                                            <div class="card-body">
                                                <h3
                                                    class="card-title fs-2 fw-bold"
                                                >
                                                {{ videojuego.nombre }}
                                                </h3>
                                                <p class="card-title fs-4">
                                                    {{ videojuego.descripción }}
                                                </p>
                                            </div>

                                            <div
                                                class="card-footer fw-bold border-0"
                                            >
                                                <small
                                                    class="text-white fs-3 text-verdeBrillante"
                                                    >${{ videojuego.precio }}</small
                                                >
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </a>
                        </div>
                        {% endif %} {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </article>
</main>

{% endblock %}
