{% extends 'layouts/app.html' %} {% block contenido %}

<main class="mt-5">
    <article class="container-xl my-5">
        <div class="row py-3">
            <div class="col">
                <section
                    class="text-white bg-moradoClaro rounded-4 p-3 shadow-lg"
                >
                    <h1 class="fs-4 fw-bold">Juega Gratis</h1>
                </section>
            </div>
        </div>
        <div class="row py-3">
            <div id="carouselExample" class="carousel slide w-100">
                <div class="carousel-inner rounded-4 shadow-lg">
                    {% for videojuego in videojuegos_gratuitos %} {% if forloop.counter <= 3 %}
                    {% if forloop.counter <= 1 %}
                    <div class="carousel-item active">
                    {% else %}
                    <div class="carousel-item">
                    {% endif %}
                        <a href="/videojuego/{{ videojuego.slug }}/">
                            <img
                                src="{{ videojuego.foto_gd.url }}"
                                class="d-block w-100 ratio ratio-19x9 rounded-4 zoom-card-carrusel"
                                alt="Banner {{ videojuego.nombre }}"
                            />
                        </a>
                    </div>
                    {% endif %} {% endfor %}
                </div>
                <button
                    class="carousel-control-prev z-1"
                    type="button"
                    data-bs-target="#carouselExample"
                    data-bs-slide="prev"
                >
                    <span
                        class="carousel-control-prev-icon"
                        aria-hidden="true"
                    ></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button
                    class="carousel-control-next z-1"
                    type="button"
                    data-bs-target="#carouselExample"
                    data-bs-slide="next"
                >
                    <span
                        class="carousel-control-next-icon"
                        aria-hidden="true"
                    ></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </article>
    
    <article class="container-xl my-5">
        <div class="row py-3">
            <div class="col">
                <section
                    class="text-white bg-moradoClaro rounded-4 p-3 shadow-lg"
                >
                    <h1 class="fs-4 fw-bold">Nuevos Lanzamientos</h1>
                </section>
            </div>
        </div>
        <div
            class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 py-3"
            id="grupo-cartas-2"
        >
            {% for videojuego in videojuegos %} {% if forloop.counter <= 6 %}
                {% include 'cards/videojuego_card_md.html' with videojuego=videojuego %}
            {% endif %} {% endfor %}
        </div>
    </article>

    <article class="container-xl my-5">
        <div class="row py-3">
            <div class="col">
                <section
                    class="text-white bg-moradoClaro rounded-4 p-3 shadow-lg"
                >
                    <h1 class="fs-4 fw-bold">Juegos Indie</h1>
                </section>
            </div>
        </div>

        <div class="row py-3">
            <div class="col">
                <div class="text-white bg-moradoClaro rounded-4 p-3 shadow-lg">
                    <div
                        class="row row-cols-1 row-cols-lg-2 g-4 p-3"
                        id="grupo-cartas-2"
                    >
                    {% for videojuego in videojuegos_indie %} {% if forloop.counter <= 2 %}
                    {% include 'cards/videojuego_card_sp.html' with videojuego=videojuego %}
                        {% endif %} {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </article>

    <article class="container-xl my-5">
        <div class="row py-3">
            <div class="col">
                <section
                    class="text-white bg-moradoClaro rounded-4 p-3 shadow-lg"
                >
                    <h1 class="fs-4 fw-bold">Todos los Juegos</h1>
                </section>
            </div>
        </div>
        <div
            class="row row-cols-2 row-cols-sm-3 row-cols-xl-6 g-4 py-3"
            id="grupo-cartas"
        >
            {% for videojuego in videojuegos %}
                {% include 'cards/videojuego_card.html' with videojuego=videojuego %}
            {% endfor %}
        </div>
    </article>

    <div
        name="Carro"
        class="offcanvas offcanvas-end bg-moradoOscuro text-white"
        tabindex="-1"
        id="offcanvasRight"
        aria-labelledby="offcanvasRightLabel"
    >
        <div class="offcanvas-header">
            <h5
                class="offcanvas-title fw-bold text-verdeBrillante fs-3"
                id="offcanvasRightLabel"
            >
                Carro de Compra
            </h5>
            <button
                type="button"
                class="btn-close"
                data-bs-dismiss="offcanvas"
                aria-label="Close"
            ></button>
        </div>

        <div id="carritoProductos" class="offcanvas-body"></div>

        <div class="d-grid gap-2 px-5 py-4">
            <button
                class="btn btn-primary bg-verdeBrillante text-black border-0 fs-5 fw-bold"
                type="submit"
                onclick="enviarCarrito()"
            >
                Comprar
            </button>
        </div>
    </div>

</main>

{% endblock %}
