{% extends 'layouts/app.html' %} {% block contenido %}

<main class="mt-5">
    <article class="container-xl my-5">
        <div class="row row-cols-1  p-lg-3">
            <div class="col col-md-8 col-lg-9">
                <section
                    class="card h-100 text-white bg-moradoClaro rounded-4 shadow-lg row-cols-1"
                >
                    <figure class="col">
                        <img
                            src="{{ videojuego.foto_gd.url }}"
                            class="card-img-top rounded-4 col col-md-6 col-lg-8 shadow-lg object-fit-cover"
                            alt="Portada de Cyberpunk 2077"
                        />
                    </figure>
                    <div
                        class="col card-body row row-cols-1 row-cols-lg-2 d-flex"
                        style="justify-content: center"
                    >
                        <div class="col col-lg-8">
                            <h1 class="card-title fs-1 fw-bold text-capitalize">
                                {{ videojuego.nombre }}
                            </h1>
                            <p class="card-text fs-5 fw-semibold">
                                {{ videojuego.descripcion }}
                            </p>
                        </div>
                        <div
                            class="col col-9 col-sm-7 col-lg-4 gy-5 gy-xl-0 d-flex align-items-center"
                        >
                            <button
                                class="btn btn-primary bg-verdeBrillante text-black border-0 rounded-4 fs-2 fw-bold"
                                style="
                                    width: 100%;
                                    aspect-ratio: 4/1;
                                    line-height: 100%;
                                "
                            >
                                ${{ videojuego.precio }}
                            </button>
                        </div>
                    </div>
                </section>
            </div>


            <div class="col col-md-4 col-lg-3 gy-3 gy-md-0">
                <section
                    class="card h-100 text-white bg-moradoClaro rounded-4 shadow-lg"
                >
                    <div class="card-body">
                        <p class="card-text">
                            <span class="fw-bold">Generos: </span>
                            {% for genero in videojuego.generos.all %}
                            {{ genero.nombre }}
                            {% endfor %}
                        </p>

                        <p class="card-text">
                            <span class="fw-bold">Fecha de Lanzamiento: </span
                            >{{ videojuego.estudio }}
                        </p>

                        <p class="card-text">
                            <span class="fw-bold">Desarrollador: </span>
                            {{ videojuego.estudio }}
                        </p>

                        <p class="card-text">
                            <span class="fw-bold">Editor: </span>
                            {{ videojuego.estudio }}
                        </p>

                        <p class="card-text">
                            <span class="fw-bold">Clasificación: </span>
                            {{ videojuego.esbr }}
                        </p>
                    </div>
                </section>
            </div>
        </div>
    </article>

    <article class="container-xl my-5">
        <div class="row p-lg-3">
            <div class="col">
                <section
                    class="text-white bg-moradoClaro rounded-4 p-3 shadow-lg"
                >
                    <h1 class="fs-4 fw-bold">
                        Mas de {{ videojuego.estudio }}
                    </h1>
                </section>
            </div>
        </div>
        <div
            class="row row-cols-2 row-cols-sm-3 row-cols-xl-6 py-4 px-lg-3"
            id="grupo-cartas"
        >
            {% for videojuego in videojuegos %} {% if forloop.counter <= 6 %}
            <div class="col">
                <a href="/{{ videojuego.id }}/" class="text-decoration-none">
                    <section
                        class="card h-100 text-white bg-moradoClaro rounded-4 shadow-lg tamaño-carta border-0"
                    >
                        <img
                            src="{{ videojuego.foto_pq.url }}"
                            class="card-img-top rounded-4 shadow-lg"
                            alt="..."
                        />
                        <div class="card-body">
                            <h3 class="card-title fs-5 fw-bold">
                                {{ videojuego.nombre }}
                            </h3>
                        </div>
                        <div class="card-footer fw-bold border-0">
                            <small class="text-white fs-6 text-verdeBrillante"
                                >${{ videojuego.precio }}</small
                            >
                        </div>
                    </section>
                </a>
            </div>
            {% endif %} {% endfor %}
        </div>
    </article>
</main>

{% endblock %}
