{% extends 'layouts/app.html' %} {% block contenido %}

<main class="mt-5">
    <article class="container-xl my-5">
        <div class="row row-cols-1 p-lg-3">
            <div class="col col-lg-8">
                <figure
                    class="card text-white bg-moradoClaro rounded-4 shadow-lg"
                >
                    <img
                        src="{{ videojuego.foto_gd.url }}"
                        class="rounded-4 object-fit-cover"
                        alt="Portada de Cyberpunk 2077"
                    />
                </figure>
            </div>

            <div class="col col-lg-4 gy-3 gy-md-0">
                <section
                    class="card text-white bg-moradoClaro rounded-4 shadow-lg"
                >
                    <div class="card-body">
                        <h1 class="card-text fs-2 fw-bold text-verdeBrillante">
                            {{ videojuego.nombre }}
                        </h1>

                        <p class="card-text fs-6 fw-semibold">
                            {{ videojuego.descripcion }}
                        </p>

                        <p class="card-text fw-semibold">
                            <span class="fw-bold text-verdeBrillante"
                                >Generos:
                            </span>
                            {% for genero in videojuego.generos.all %} {{
                            genero.nombre }}, {% endfor %}
                        </p>

                        <p class="card-text fw-semibold">
                            <span class="fw-bold text-verdeBrillante"
                                >Fecha de Lanzamiento: </span
                            >{{ videojuego.estudio }}
                        </p>

                        <p class="card-text fw-semibold">
                            <span class="fw-bold text-verdeBrillante"
                                >Desarrollador:
                            </span>
                            {{ videojuego.estudio }}
                        </p>

                        <p class="card-text fw-semibold">
                            <span class="fw-bold text-verdeBrillante"
                                >Editor:
                            </span>
                            {{ videojuego.estudio }}
                        </p>

                        <p class="card-text fw-semibold">
                            <span class="fw-bold text-verdeBrillante"
                                >Clasificación:
                            </span>
                            {{ videojuego.esbr }}
                        </p>

                        <div class="row row-cols-2">
                            <div class="col col-7">
                                <div
                                    class="btn h-100 w-100 bg-verdeBrillante text-moradoOscuro border-0 rounded-4 fs-2 fw-bold"
                                >
                                    ${{ videojuego.precio }}
                                </div>
                            </div>
                            <div class="col col-5">
                                <button
                                    class="btn h-100 w-100 bg-verdeBrillante text-moradoOscuro border-0 rounded-4 fs-6 fw-bold"
                                >
                                    Añadir al carro
                                </button>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </article>

    <article class="container-xl my-5">
        <div class="row p-lg-3">
            <div class="col">
                <section
                    class="text-white bg-moradoClaro rounded-4 p-3 shadow-lg"
                >
                    <h2 class="fs-4 fw-bold">
                        Mas de
                        <a
                            href=""
                            class="text-verdeBrillante text-decoration-none"
                            >{{ videojuego.estudio }}</a
                        >
                    </h2>
                </section>
            </div>
        </div>
        <div
            class="row row-cols-2 row-cols-sm-3 row-cols-xl-6 py-4 px-lg-3"
            id="grupo-cartas"
        >
            {% for videojuego in videojuegos %} {% if forloop.counter <= 6 %}
            <div class="col">
                <a href="/videojuego/{{ videojuego.slug }}/" class="text-decoration-none">
                    <section
                        class="card h-100 text-white bg-moradoClaro rounded-4 shadow-lg tamaño-carta border-0"
                    >
                        <img
                            src="{{ videojuego.foto_pq.url }}"
                            class="card-img-top rounded-4 shadow-lg"
                            alt="..."
                        />
                        <div class="card-body">
                            <h3 class="card-title fs-5 fw-bold">
                                {{ videojuego.nombre }}
                            </h3>
                        </div>
                        <div class="card-footer fw-bold border-0">
                            <small class="text-white fs-6 text-verdeBrillante"
                                >${{ videojuego.precio }}</small
                            >
                        </div>
                    </section>
                </a>
            </div>
            {% endif %} {% endfor %}
        </div>
    </article>
</main>

{% endblock %}
