{% extends 'layouts/app.html' %} {% block contenido %}

<main class="mt-5">
    <article class="container-xl my-5 p-0">
        <div class="row row-cols-1">
            <div class="col-lg-8">
                <section
                    class="text-white bg-moradoClaro rounded-3 p-3 mb-3 shadow-lg"
                >
                    <h2 class="fs-2 fw-bold my-auto">
                        <span
                            class="text-verdeBrillante text-decoration-none"
                            >{{ videojuego.nombre }}</span
                        >
                    </h2>
                </section>

                <div class="bg-moradoClaro rounded-3">
                    
                    <div class="ratio ratio-16x9">
                        <img
                            src="{{ videojuego.foto_gd.url }}"
                            class="rounded-3 object-fit-cover w-100"
                            alt="Portada de {{ videojuego.nombre }}"
                        />
                    </div>
                </div>
            </div>


            <div class="col-lg-4">
                <section
                    class="text-white bg-moradoClaro rounded-3 p-3 fw-bold"
                >
                    <p>
                        {{ videojuego.descripcion }}
                    </p>

                    <hr class="text-white">

                    <p>
                        Generos:
                        <span class="text-verdeBrillante fw-medium">
                            {% for genero in videojuego.generos.all %}
                                {{ genero.nombre }}
                                {% if not forloop.last %} - {% endif %}
                            {% endfor %}
                        </span>
                    </p>

                    <p>
                        Fecha de Lanzamiento:
                        <span class="text-verdeBrillante fw-medium">
                            {{ videojuego.estudio }}
                        </span>
                    </p>

                    <p>
                        Desarrollador:
                        <span class="text-verdeBrillante fw-medium">
                            {{ videojuego.estudio }}
                        </span>
                    </p>


                    <p>
                        Editor:
                        <span class="text-verdeBrillante fw-medium">
                            {{ videojuego.estudio }}
                        </span>
                    </p>


                    <p>
                        Clasificación:
                        <span class="text-verdeBrillante fw-medium">
                            {{ videojuego.esbr }}
                        </span>
                    </p>
                </section>

                <br>

                <section
                    class="text-white bg-moradoClaro rounded-3 p-3"
                >

                    <div>
                        <div
                            class="fs-2 fw-bold"
                        >
                            {{ videojuego.get_precio_formateado }}
                        </div>

                        <br>

                        <button
                            class="btn h-100 w-100 bg-verdeBrillante text-moradoOscuro border-0 rounded-3 fs-5 fw-bold"
                            data-nombre="{{ videojuego.nombre }}"
                            data-foto_pq="{{ videojuego.foto_pq.url }}"
                            data-precio="{{ videojuego.get_precio_formateado }}"
                            data-slug="{{ videojuego.slug }}"
                            onclick="agregarAlCarrito(this.dataset.nombre, this.dataset.foto_pq, this.dataset.precio, this.dataset.slug)"
                        >
                                Agregar al carrito
                        </button>
                    </div>
                </section>
            </div>
        </div>
    </article>


    
    {% if videojuegos_estudio %}
    <article class="container-xl my-5 p-0">
        <section
            class="text-white bg-moradoClaro rounded-3 p-3 mb-3 shadow-lg"
        >
            <h2 class="fs-4 fw-bold my-auto">
                Mas de
                <span
                    class="text-verdeBrillante text-decoration-none"
                    >{{ videojuego.estudio }}</span
                >
            </h2>
        </section>
        <div class="text-white bg-moradoClaro rounded-3 p-3 shadow-lg">
            <div
                class="row row-cols-2 row-cols-sm-3 row-cols-xl-6 g-4"
                id="grupo-cartas"
            >
                {% for videojuego in videojuegos_estudio %} {% if forloop.counter <= 6 %}
                    {% include 'cards/videojuego_card.html' with videojuego=videojuego %}
                {% endif %} {% endfor %}
            </div>
        </div>
    </article>
    {% endif %}
</main>

{% endblock %}
