{% extends 'layouts/app.html' %} {% block contenido %}

<main class="mt-5">
    <article class="container-sm my-5">
        <div class="row row-cols-1 py-3 gy-3" id="grupo-noticias">
            {% for noticia in noticias %} {% if forloop.counter <= 5 %}

            <div class="col" id="noticia">
                <a href="#" class="text-decoration-none">
                    <section
                        class="card mb-3 bg-moradoClaro text-white rounded-4 shadow-lg border-0 g-0"
                    >
                        <div class="row row-cols-2 rounded-4">
                            <div class="col-md-3">
                                <div class="ratio ratio-1x1">
                                    <img
                                        src="{{ noticia.imagen.url }}
                                    "
                                        class="img-fluid rounded-4 object-fit-cover"
                                        alt="..."
                                    />
                                </div>
                            </div>

                            <div
                                class="col-md-9 d-flex flex-column g-0 ps-1 pe-4"
                            >
                                <div class="card-body">
                                    <h3 class="card-title fs-4 fw-bold text-verdeBrillante">
                                        {{ noticia.titulo }}
                                    </h3>
                                    <p class="card-title fw-semibold fs-6">
                                        {{ noticia.descripcion }}
                                    </p>
                                </div>
                                <div class="card-footer fw-bold border-0">
                                    <small
                                        class="text-white fs-5 text-verdeBrillante"
                                        >{{ noticia.fecha }}</small
                                    >
                                </div>
                            </div>
                        </div>
                    </section>
                </a>
            </div>
            {% endif %} {% endfor %}
        </div>
    </article>

    <div
    name="Carro"
    class="offcanvas offcanvas-end bg-moradoOscuro text-white"
    tabindex="-1"
    id="offcanvasRight"
    aria-labelledby="offcanvasRightLabel"
>
    <div class="offcanvas-header">
        <h5
            class="offcanvas-title fw-bold text-verdeBrillante fs-3"
            id="offcanvasRightLabel"
        >
            Carro de Compra
        </h5>
        <button
            type="button"
            class="btn-close"
            data-bs-dismiss="offcanvas"
            aria-label="Close"
        ></button>
    </div>

    <div id="carritoProductos" class="offcanvas-body"></div>

    <form action="{% url 'tienda:compra' %}" method="post">
        {% csrf_token %}
        <div class="d-grid gap-2 px-5 py-4">
            <button
                class="btn btn-primary bg-verdeBrillante text-black border-0 fs-5 fw-bold"
                type="submit"
            >
                Comprar
            </button>
        </div>
    </form>
</div>
</main>

{% endblock %}
