{% extends 'layouts/usuarios.html' %} {% block contenido %}

<main>
    <div
        class="container rounded-4 bg-moradoClaro text-white"
        style="width: 80%; padding: 20px"
    >
        <h1 class="fw-bold">Página no encontrada 404</h1>
        <p class="fw-semibold">Lo sentimos, la página que estás buscando no existe o no tiene acceso a ella.</p>

        <i class="fw-semibold">Recuerda que debes <a href="{% url 'usuarios:login' %}" class="text-decoration-none text-verdeBrillante">Iniciar Sesión</a> para poder acceder a Atlas Games.</i>
    </div>
</main>

{% endblock %}
