{% extends 'layouts/usuarios.html' %} {% block contenido %}

<main class="mt-5">
    <div
        class="container rounded-4 bg-moradoClaro text-white"
        style="width: 40%; padding: 20px"
    >
        <h1 class="fw-bold" id="f-nombre">Registro</h1>
        {% if error_message %}
        <p>{{ error_message }}</p>
        {% endif %}
        <form method="post">
            {% csrf_token %}
            <label class="fw-semibold text-verdeBrillante" for="username"
                >Nombre de usuario:</label
            >
            <input
                class="form-control"
                type="text"
                name="username"
                required
            /><br /><br />
            <label class="fw-semibold text-verdeBrillante" for="password"
                >Contraseña:</label
            >
            <input
                class="form-control"
                type="password"
                name="password"
                required
            /><br /><br />
            <label
                class="fw-semibold text-verdeBrillante"
                for="confirm_password"
                >Confirmar contraseña:</label
            >
            <input
                class="form-control"
                type="password"
                name="confirm_password"
                required
            /><br /><br />
            <input
                class="btn fw-bold bg-verdeBrillante"
                type="submit"
                value="Registrarse"
            />
        </form>
        <br />
        <p>
            ¿Ya tienes una cuenta?
            <a
                class="text-decoration-none text-verdeBrillante fw-semibold"
                href="{% url 'usuarios:login' %}"
                >Inicia sesión</a
            >
        </p>
    </div>
</main>

{% endblock %}
